body {
  font-family: $font-family--primary;
  font-weight: $font-weight--medium;
  font-size: $base__font-size;
}

.header {
  font-family: $font-family--primary;
  font-size: $base__header-font-size;
  font-weight: $font-weight--ultra-bold;
}
h4 {
  font-size: $base__section-header-font-size;
}
section {
  font-size: $larger__font-size;
}
#footer p {
  font-size: $base__smaller-font-size;
}
